[% IF alert == 'player_already' %]
<div class="alert alert-danger" role="alert">
    A player is already present
</div>
[% END %]
[% IF alert == 'player_ok' %]
<div class="alert alert-success" role="alert">
    Player added
</div>
[% END %]
[% IF alert == 'bet_ok' %]
<div class="alert alert-success" role="alert">
    Bet added
</div>
[% END %]
