[% INCLUDE blocks/head.tt %]
<div class="col-xs-12 col-sm-9">
<h2>[% nation.name %]</h2>
<p style="font-size:5px">&nbsp;</p>
[% INCLUDE "data/nation.tt" %]
</div><!--/.col-xs-12.col-sm-9-->

[% INCLUDE blocks/side.tt %]
[% INCLUDE blocks/foot.tt %]
