[% INCLUDE blocks/head.tt %]
<div class="col-xs-12 col-sm-12">
<p style="font-size:5px">&nbsp;</p>
[% FOREACH y IN years %] 
<div class="row">
<div class="col-sm-2">
<h3>[% y.year %]</h3>
</div>
[% FOREACH t IN y.turns %]
<div class="col-sm-2">
    <div class="well">
        <p><center><a href="/world/[% game %]/[% y.year %]/[% t %]/g/newspaper">[% y.year %]/[% t %]</a></center></p>
    </div>
</div>
[% END %]
</div>
[% END %]
</div><!--/.col-xs-12.col-sm-9-->
[% INCLUDE blocks/foot.tt %]
