<h3>YEAR [% year %]</h3>
<table class="table">
<tr>
    <th>Nation</th>
    [% INCLUDE 'fragments/nation_attributes_header.tt' -%]
</tr>
[% FOREACH n IN names %]
<tr>
<td>[% n %]</td>
[%- nationstats = statistics.$n -%] 
[% INCLUDE 'fragments/nation_attributes.tt' -%]
[% END %]
</table>
