<h3>MILITARY RANGE ANALYSIS FOR [% nation %]</h3>
[% FOREACH ne IN near %]
<h4>[% INCLUDE fragments/linked_nation.tt n = ne.nation %]</h4>
<p>
   Relations: <span class="[% ne.relation.status_html_class %]">[% n.relation.status %]</span><br />
   In range because: [% ne.how %]
</p>
[% END %]
