[%- SWITCH reason.how -%]
[%- CASE 'border' -%]border
[%- CASE 'supporting' -%]support
[%- CASE 'support' -%]Military support from [% reason.who %]
[%- CASE 'linked' -%]Connected nation
[%- CASE 'control' -%]Near connected nation [% reason.who %]
[%- CASE -%] I don't know
[%- END -%]
